<h1>Admin register</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="status">College status</label>
    <input type="text" id="status" name="status" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="courseone">Course selection 1</label>
    <input type="text" id="courseone" name="courseone" required>
  </div>
  <div>
    <label for="coursetwo">Course selection 2</label>
    <input type="text" id="coursetwo" name="coursetwo" required>
  </div>
  <div>
    <label for="coursethree">Course selection 3</label>
    <input type="text" id="coursethree" name="coursethree" required>
  </div>
  <div>
    <label for="coursefour">Course selection 4</label>
    <input type="text" id="coursefour" name="coursefour" required>
  </div>
  <button type="submit">Register user</button>
</form>
